.WB_widget {
	font-family: Helvetica, Tahoma, Arial, 'Microsoft YaHei', '微软雅黑', SimSun, '宋体', sans-serif !important;
}

.WB_icon_text, .follow_text {
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.WB_user, .follow_name {
	max-width: 100px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	display: inline-block;
}