{% extends 'base.html' %}
    {% block main %}
<!--top nav start here-->

<!--top nav end here-->
<!--banner start here-->
<div class="banner-two">
</div>
<!--banner end here-->
<!--start-about-->
<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-4 about-left">
				<h3>关于 us</h3>
				<a href="single.html"><img src="static/artist/images/ab.jpg" alt=""></a>
			</div>
			<div class="col-md-4 about-left">
				<h3>为什么选择次元窗</h3>
				<h4>非常好用的平台，用户体验做的很棒！</h4>
				<p>
                    画师质量很好，画风都很出众，可以很方便找到需要的画师，约稿超好用的平台！</p>
				<h4>使用方便，上手简单！</h4>
				<p>画师多，像超级市场，想要啥都有。平台服务积极主动，出现问题都能快速解决。而且手续费不高，比找外包公司实惠很多！</p>
			    <h4>米画师接了不少稿件！</h4>
			    <p> 约稿流程和稿酬保障都非常专业！
安心信赖，省心省力！你的加入可以让次元窗越来越好！！</p>
			</div>
			<div class="col-md-4 about-left">
				<h3>次元窗守则</h3>
				<h4>用户使用次元窗需知</h4>
				<p>Users need to know how to use a sub window</p>
				<ul>
					<li><a href="#">寻找画师，寻找同伴需要注明分类事项！ </a></li>
					<li><a href="#">在你的留言里确认合作意向！不刷无异议话题！</a></li>
					<li><a href="#">要注重次元窗整体环境的和谐有爱！</a></li>
					<li><a href="#">平台提供联系方式时不许出现黄暴内容！</a></li>
					<li><a href="#">如果需要发表图片请联系官方邮箱!</a></li>

				</ul>
			</div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="histort">
	<div class="container">
		<div class="history-main">
			<h3>网站历史</h3>
			<p>随着合作方增多 ，对高质量画师的需求越来越迫切，为了应对这类需求 ，次元窗
                目前已经聚集了很多行业内有名的画师，《崩坏学园2》主力画师“XX”，《战舰少女R》主力画师“
                KUAS”，《山海战记》海报画师“Ddocker”，参与过《英雄联盟》《盗墓笔记》等多个项目的欧美系画师“PLCA”等！</p>
		    <p>本网站页面设计直观，画师风格鲜明，约稿面板的流程清晰约稿很方便，网站客服热心。
画师和企划方都可以有更多收益，体感很NICE，期待与你的更多合作。</p>
		</div>
	</div>
</div>
<div class="team">
	<div class="container">
		<div class="team-main" >
			<h3>我们 团队</h3>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="static/artist/images/t4.jpg" alt=""/>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="static/artist/images/t1.jpg" alt=""/>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="static/artist/images/t3.jpg" alt=""/>
			 </div>
			 <div class="col-md-3 team-grids wow bounceIn" data-wow-delay="0.4s">
			 	<img src="static/artist/images/t2.jpg" alt=""/>
			 </div>
		  <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--about end here-->

<!--footer start here-->

<!--//footer-->
    {% endblock main %}



</html>