{% extends 'base.html' %}
    {% block main %}
<div class="banner">
	<div class="container">
		<div class="banner-main">
		          <h3><B>现在就开始穿越次元之旅吧!</B></h3>
		          <p>大大是否因为同人本找不到画师而苦恼呢？或者又因为预算资金不足而头痛呢？现在只需要提交自己的约稿需求，我们来帮你搞定！</p>
		          <a href="single.html"><div style="color:#FFFFFF"><B>！点我交流！</B></div></a>
		     <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--banner end here-->
<!--bann-info start here-->
<div class="bann-info">
	<div class="container">
		<div class="bann-info-main">
			    <div class="col-md-3 bann-grid">
			    	<div class="agro-grain"><span class="glyphicon glyphicon-grain" aria-hidden="true"> </span></div>
			    </div>
			    <div class="col-md-6 bann-grid">
			    	<h6>次元窗，学习画技的地方！</h6>
			    	<h3>你可以在这里进一步的交流画技心得和体会！</h3>
			    	<p>现在开始约稿或者发布心得吧！你只需要确定合适的标题和栏目便可以发布自己的见解或者文章了哦！</p>
                    <p>网站使用Markdown文本，了解一下有助于排版出漂亮的文章！</p>
			    	 <a href="https://www.jianshu.com/p/1e402922ee32/" class="hvr-wobble-bottom">了解更多</a>
			    </div>
			    <div class="col-md-3 bann-grid">
			    	<img src="images/cucumber.jpg" alt="" class="img-responsive">
 			    </div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--bann info end here-->
<!--wedo start here-->
<div class="we-do">
	<div class="container">
		<div class="wedo-main">
			<div class="col-md-4 wedo-grid">
				<span class="glyphicon glyphicon-leaf" aria-hidden="true"> </span>
				<h3>优秀的画师交流版块 </h3>
				<h4>画师们的互动交流可以让你更好的了解绘画技巧和绘画手段！</h4>
				<p> 使用时请注意自己的语言礼貌，如果违反画师板块交流规则。会被删除相应不当言论，并且可能封号处理！</p>
					<a href="single.html"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span></a>
			</div>
			<div class="col-md-4 wedo-grid">
				<span class="glyphicon glyphicon-user" aria-hidden="true"> </span>
				<h3>画作展示板块 </h3>
				<h4>画作作品板块支持瀑布流浏览模式，可以更好的观看每张作品！</h4>
				<p>在这里可以观看到所有的个人发布的文章和作品哟！支持文章的再次编辑以及作品的删除！还可以观看别人的画作作品，支持专类浏览，各种风格尽收眼底！</p>
					<a href="gallery.html"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span></a>
			</div>
			<div class="col-md-4 wedo-grid">
				<span class="glyphicon glyphicon-eye-open" aria-hidden="true"> </span>
				<h3>画圈资讯&教程板块 </h3>
				<h4>苦手于某个动作不会画？或者找不到相应的软件教程？这里一定有你想要的答案！</h4>
				<p> 收集于各个网站的实用绘画教程，绘画软件下载，动漫公司约稿招聘资讯！画累了别忘了进来看一看哟！也许会有意想不到的收获~！</p>
				<a href="services.html"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"> </span></a>
			</div>
		  <div class="clearfix"> </div>
	   </div>
   </div>
</div>
<!--we do end here-->
<!--agrom strip start here-->

<!--agrom strip end here-->
<!--latest-news start here-->

<!--latest news end here-->
<!--footer start here-->

<!--//footer-->
    {% endblock main %}
<!--banner start here-->


</html>