{% extends 'base.html' %}
{% load staticfiles %}
{% load users_work %}
    {% block main %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by Html5xCss3 dot com - Free Responsive Html5 Templates">
    <meta name="author" content="#">

    <title>SimplePix | Free Html5 Templates by </title>
     <style>
        .div1{
            width:300px;
            height:400px;
            border:1px solid #4EC83B;
            overflow: hidden;
        }
        .div1 img {
            position: relative;
            left: -100px;
            top: -150px;
        }
         body{ text-align:center}
        </style>
	<link rel="stylesheet" href="{% static 'artist/css/menu.css' %}">

	<!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'artist/css/style.css' %}">

	<!-- Custom Fonts -->
    <link rel="stylesheet" href="{% static 'artist/font-awesome-4.4.0/css/font-awesome.min.css' %}"  type="text/css">

	<link rel="stylesheet" href="{% static 'artist/css/lightbox.css' %}">

	<!-- Core JavaScript Files -->


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static 'artist/js/html5shiv.js' %}"></script>
        <script src="{% static 'artist/js/respond.min.js' %}"></script>
    <![endif]-->
</head>
<div class="gallery">
	<div class="container">

		<div class="gallery-bottom">


{% for post in post_list1 %}
                 <div style="float:left;margin:10px;">
			<div class="item">
				<a class="example-image-link" href="{{ post.work.url }}" data-lightbox="example-set" data-title="{{ post.intorduce }}"><img class="example-image" src="{{ post.work.url }}" alt=""height="400" width="400" /></a>
				<div class="content-item">
					<h3 class="title-item"><a href="single.html">{{ post.titles|truncatechars:12 }}</a></h3>
					<div class="time">{{ post.tags }}</div>
					<p class="info">{{ post.intorduce|truncatechars:10  }}</p>

				</div>

			</div>
              </div>

{% empty %}
  <div class="no-post">暂时还没有人发布！</div>
{% endfor %}


		   <div class="clearfix"> </div>
		</div>
	</div>
</div>


<link rel="stylesheet" type="text/css"  href="{% static 'artist/css/magnific-popup.css' %}">
			<script type="text/javascript" src="{% static 'artist/js/nivo-lightbox.min.js' %}"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>


<!--gallery end here-->
<!--footer start here-->

    {% endblock main %}

<!--banner end here-->
<!--gallery start here-->

<!--//footer-->

</html>